* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0c0d0e;
    text-align: center;
}

.content {
    width: 420px;

}

.content h1{
    font-size: 40px;
    transform: translateY(-25%);
    color: white;
    margin-bottom: 30px;
    
}

.content .login-btn {
    height: 45px;
    background: #1DB954;;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    padding: 15px 60px;
    text-decoration: none;

}

.content .login-btn:hover {
    background: #248847;
}

.content .anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.3s linear forwards;
}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.content i {
    font-size: 24px;
    margin-right: 3px;
    vertical-align: middle;
}