<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotifind</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home">
            <nav>
                <h1><a href="{{ url_for('home_page') }}">Spotifind</a></h1>
            </nav>
        <div class="home_content">
            <h2>Hello, {{ user }}</h2>
            <p>What would you like to do today?</p>
            <a href="{{ url_for('page1') }}" class="btn">Recommend me songs</a>
            <a href="{{ url_for('page2') }}" class="btn">Stats</a>
        </div>
    </div>
</body>
</html>