<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotifind</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home">
        <h1>Spotifind</h1>
        <h2>Hello user</h2>
        <h3>What would you like to do today?</h3>
        <form action="{{ url_for('page1') }}">
            <button type="submit">Recommend me songs</button>
        </form>
        <form action="{{ url_for('page2') }}">
            <button type="submit">Stats</button>
        </form>
    </div>
</body>
</html>