<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotifind</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="content-wrapper">
        <div class="content">
            <h1 class="anim">Spotifind</h1>
            <a href="{{ url_for('login') }}" class="login-btn anim">
                <i class='bx bxl-spotify anim'></i> Continue with Spotify
            </a>
        </div>
    </div>

</body>
</html>