<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotifind</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home">
            <nav>
                <h1><a href="{{ url_for('home_page') }}">Spotifind</a></h1>
            </nav>
        <div class="recommend_content">
            {% if error_message %}
            <p style="color:red;">{{ error_message }}</p>
            {% endif %}
            <h2>Song Recommender</h2>
            <p>Enter song URI:</p>
            <form action="#" method="post">
                <div class="input_box">
                    <input type="text" name="song_uri" placeholder="Song URI">
                </div>
            </form>
            <!-- <p>or choose from your most listened</p> -->
        </div>
    </div>
</body>
</html>