<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotifind</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home">
            <nav>
                <h1><a href="{{ url_for('home_page') }}">Spotifind</a></h1>
            </nav>
            
        <div class="recommend_success_box">
            <div class="seed_track">
                <img src="{{ seed_track['album']['images'][0]['url'] }}" alt="seed_track_pic" class="seed_track_pfp">
                <div class="text">
                    <h1>{{ seed_track['name'] }}</h1>
                    <div class="subtitles">
                        {% for artist in seed_track['artists'] %}
                            <h2>{{ artist['name'] }}</h2>
                        {% endfor %}
                    </div>
                    <audio controls>
                        <source src="{{ seed_track['preview_url'] }}" type="audio/mpeg">
                    </audio>
                </div>
            </div>
                    
            <div class="track-list">
                <div class="track-covers">
                    {% for track in recommendations['tracks'] %}
                        <img src="{{ track['album']['images'][0]['url'] }}" alt="cover_pic" class="cover_pic">
                    {% endfor %}
                </div>

                <div class="track-info">
                {% for track in recommendations['tracks'] %}    
                    <h1>{{ track['name'] }}</h1>

                    <div class="artist-names">
                        {% for artist in track['artists'] %}
                            <h2>{{ artist['name'] }}</h2>
                        {% endfor %}
                    </div>
                    
                    <audio controls>
                        <source src="{{ track['preview_url'] }}" type="audio/mpeg">
                    </audio>
                {% endfor %}
                
                </div>
            </div>

            <form action="" method="POST">
                <button type="submit">Add to Spotify</button>
            </form>
        
            {% if request.args.get('playlist_created') %}
                <p>Playlist created successfully!</p>
            {% endif %}

        </div>
    </div>
</body>
</html>